.imageOne,
.imageTwo {
    width: 100%;
}


.tech,
.MarkPic {
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}


.PichaiBlock,
.MarkBlock {
    width: 100%;
    margin-top: 0px;

}

.talkingtech,
.MarkWeb {
    width: 100%;
    margin-top: 0px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;

}

.MarkTitle,
.talkingTitle {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;

}

.MarkName,
.marqueeName {
    color: rgb(96, 96, 96);
    font-size: 13px;
    margin-bottom: 2px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.MarkViews,
.threeViews {
    color: rgb(96, 96, 96);
    font-size: 13px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}