.head {
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(230, 230, 230);
    z-index: 100;
}

.notify {
    position: absolute;
    top: -1px;
    right: -3px;
    background-color: rgb(208, 0, 0);
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1cap;
    padding-bottom: 2px;
    border-radius: 20px;
    font-size: 10px;
    font-style: bold;
    font-family: Roboto;

}

.hamburger {
    margin-left: 25px;
    margin-right: 25px;

}

.tool {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;

}


.tool div {
    position: absolute;
    bottom: -40px;
    color: white;
    background-color: rgb(120, 120, 120);
    font-size: 12px;
    font-family: Roboto, Arial;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 10px;
    padding-top: 10px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s;
}

.tool:hover div {
    opacity: 1;
}

.hamburger {
    cursor: pointer;
}

.youTube {
    margin-right: 90px;
    width: 90px;
}

.MiddleHead {
    width: 600px;
    height: 40px;
    display: flex;
    justify-content: center;

    align-items: center;
}

.SearchInput {
    margin-right: 65px;
    flex: 1;
    max-width: 350px;
    width: 0;
    height: 36px;
    margin-left: 40px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-width: 1px;
    margin-left: 70px;
    text-indent: 10px;
    font-size: 17px;
}

.SearchInput::placeholder {
    font-size: 16px;
    font-family: Roboto, Arial;
    color: rgb(150, 150, 150);

}

.voice {
    background-color: rgb(248, 248, 248);
    border-radius: 20px;
    width: 30px;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.searches {
    width: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: -67px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    height: 25px;
    background-color: rgb(247, 247, 247);
    margin-right: 10px;
    cursor: pointer;


}

.LeftIcons {
    width: 150px;
    display: flex;
    flex-shrink: 0;
}


.youTube-Logo {
    display: flex;
    align-items: center;
    height: 40px;
}

.notification,
.apps {
    margin-left: 10px;
}

.upload {
    margin-left: 30px;
}

.Personal-profile {
    display: flex;
    align-items: center;
    width: 40px;
    height: 70px;
    margin-right: 20px;
    justify-content: center;
}

.MarksLogo {
    width: 65%;
    height: 100px;
    cursor: pointer;
    border-radius: 100px;
}

.RightIcons {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 220px;
    text-align: right;

}