.profile1{
    position: relative;
}

.profile1 div{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.profile1:hover div {
    opacity: 1;
}

.profiletool1{
    display: flex;
    width: 210px;
    height: 70px;
    background-color: white;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border-width: 1px;
    margin-top: 10px;
}

.smallMark{
    width: 100%;
    border-radius: 50px;
}

.profiletool1 p{
    color: black;
    font-family: Roboto, Arial;
}